body{
	background-color:  #2f30ff;
}
#contenedor{
	width: 1024px;
	margin: auto;
	height: 800px;
	border-style: solid;
	border-radius: 7px;
}
#banner{
	background-image: url(banner.jpg);
	width: 1024px;
	height: 150px;
	background-size:1024px 150px;
	border-bottom:  solid;
}
#logo{
background-image: url(logo.png);
height: 130px;
	width:130px;
	float: left;
	margin: 19px;
	background-size: 130px 130px;
}
#title{
font-family: Comic Tragedy;
font-size: 40px;
color: #CC7700;
float: left;
	text-shadow: 6px 3px 2px #2a2a2a;
   margin-top:53px;
	margin-left:15px; 
	
}	
#form{
float: right;
	background-color:grey;
	margin-top:35px; 
	text-align: left;
}
#cuerpo{
	background-color: #8181F7;
	height: 750px;
}
#right{
	float: left;
	margin-left: -170px;
	margin-top: 2px;
}
#menu{
border-style: solid;
		border: 1px;
		background-color: ThreedShadow;
		width: 200px;
		height: 200px;
		border-radius: 7px;
	box-shadow:  6px 3px 2px #2a2a2a;
}
#subcribase{
	margin-top:5px;
width: 180px;
	height: 160px;
	border-style: solid;
	border: 1px;
	background-color: ThreedShadow;
	width: 200px;
	border-style: double;
	border-radius: 7px;
	box-shadow:  6px 3px 2px #2a2a2a;
}
#destacados{
	margin-top:5px;
height: 100px;
border-style: solid;
border: 3px;
border: 1px;
background-color: ThreedShadow;
width: 200px;
border-style: double;
border-radius: 7px;
box-shadow:  6px 3px 2px #2a2a2a;
}

#video{
	font-family: Comic Tragedy;
color: red;
	text-align: center;
margin-top: 5px;
margin-left: -45px;
border-style: solid;
border: 3px;
border: 1px;
background-color: ThreedShadow;
width: 550px;
height:560px;
border-style: double;
border-radius: 7px;
box-shadow:  6px 3px 2px #2a2a2a;
}
#left {
margin-top: 10px;

}
#conciertos {

margin-left: 800px;
width: 300px;
height:450px;
float: left;
margin-top: -560px;
border-style: solid;
border: 3px;
border: 1px;
background-color: ThreedShadow;
width: 190px;
border-style: double;
border-radius: 7px;
box-shadow:  6px 3px 2px #2a2a2a;
}
#artista {
	margin-left: 800px;
	float: left;
	margin-top: -227px;
	border-style: solid;
	border: 3px;
	border:1px;
	background-color: ThreedShadow;
	width: 190px;
	border-style: double;
	border-radius: 7px;
box-shadow:  6px 3px 2px #2a2a2a;
}
#foto{
	height: 220px; 
	width: 170px;
}
@font-face{
	font-family: Comic Tragedy;
	src: url(../fonts/ComicTragedy.ttf);

}
@font-face{
	font-family: Manga Style;
	src: url(../fonts/MangaStyle.ttf);

}