a:link{
  background-color:#00ff00;
  color:#ff0000;
}
a:visited{
  background-color:#000000;
  color:red;
}
a:hover{
  background-color:#ff00ff;
  color:#fffff;
}
a:active{
  background-color:#ff0000;
  color:#ffff00;
}